extends layout

block content
	.container.text-xs-center.p-t-3.m-t-3.fluid
		p.lead <strong>For Al X</strong>, the text on which the website is based, was first created by #[a(href="http://www.fecundity.com/logic/") P.D. Magnus] under a Creative Commons license. It was then expanded by #[a(href="https://forallxremix.org/") H. Robert Loftis] using the work of #[a(href="https://sites.google.com/site/anintroductiontoreasoning/home") Cathal Woods], also under Creative Commons licenses.
		p.lead In compliance with terms of these licenses, this website is licensed under Creative Commons #[a(href="https://creativecommons.org/licenses/by-sa/4.0/") CC BY-SA 4.0] license. Its github repository can be found #[a(href="https://github.com/Lokgic/io") here].