extends pagelayout

block content


	main.exploMain
		.exploContainer
			h4.exploTitle.text-xs-center.m-b-3(id = section) #{title}
			.col-lg-6.explanation
					for t in text
						p.expTextTitle
							!= t
			.col-lg-6.interaction
	nav.navbar.navbar-fixed-bottom#secondaryNav
		.container
			button.navbar-toggler.hidden-lg-up(type = "button" data-toggle ="collapse" data-target="#secondaryNavCollapse" aria-controls="secondaryNavCollapse" aria-expanded="false" aria-label="Toggle navigation" style='color:black')  	&#x022AB;
			.collapse.navbar-toggleable-md#secondaryNavCollapse
				ul.navbar-nav
					for item in info
						li.nav-item.align-middle.secondaryNavItem
							a.nav-link(href='/deduction/'+ item[0]) #{item[1]}

	.modal.fade.result
		.modal-dialog.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title
				.modal-body
				.modal-footer



block extrafooter
	link(href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet")
	link(rel="stylesheet", type="text/css", href="/css/page.css")
	script(type="text/x-mathjax-config").
		MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [ ['$','$'], ['\\(','\\)'] ]
		},
		"HTML-CSS": {linebreaks: { automatic: false, width: "container" }
		}
		}
		);
	script(type="text/javascript"  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML")
	link(rel="stylesheet", type="text/css", href="/deduction/deduction.css")
	script(src="https://d3js.org/d3.v4.min.js")
	script(src="https://d3js.org/d3-scale-chromatic.v1.min.js")
	script(src="/javascripts/mods/notify.js")
	script(src="/javascripts/mods/underscore-min.js")
	script(src="/javascripts/mods/interact.min.js")
	script(src="/javascripts/mods/help.js")
	case section
		default
			script(src="/deduction/deduction.js")
