extends pagelayout

block content
	#car.carousel.slide(data-ride = "carousel")
		ol.carousel-indicators
			li(data-target = '#car' data-slide-to="0").active
			li(data-target = '#car' data-slide-to="1")
		.carousel-inner(role="listbox")
			.carousel-item.active
				.exploMain
					.exploContainer
						.col-lg-5.explanation
							.leftTop
								h4.exploTitle.text-xs-center.m-b-3 The Anatomy of a Truth Tree
								.textBox
							.leftBottom
						.col-lg-7.interaction
			.carousel-item
				p bbb
	main

	.modal.fade.result
		.modal-dialog.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title
				.modal-body
				.modal-footer



block extrafooter
	link(href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet")
	link(rel="stylesheet", type="text/css", href="/css/page.css")
	script(type="text/x-mathjax-config").
		MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [ ['$','$'], ['\\(','\\)'] ]
		},
		"HTML-CSS": {linebreaks: { automatic: true, width: "container" }
		}
		}
		);
	script(type="text/javascript"  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML")
	link(rel="stylesheet", type="text/css", href="/css/explo.css")
	script(src="https://d3js.org/d3.v4.min.js")
	script(src="https://d3js.org/d3-scale-chromatic.v1.min.js")
	script(src="/javascripts/mods/notify.js")
	script(src="/javascripts/mods/underscore-min.js")
	script(src="/javascripts/mods/interact.min.js")
	script(src="/javascripts/mods/help.js")
	script(src="/explo/"+fileName+".js")
