extends layout

block content
	script(type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
	.container-fluid.p-t-3.m-t-3
    for section in content
      p #{section}





block extrafooter
