extends layout

block content
	.container.p-t-2.m-b-3.m-t-3
			.card
				h3.card-header#grading Grading
				.card-block
					h4.card-title How your grade is calculated
					p.card-text our grade is strictly determined by the number of tests you passed throughout the semester. To receive an A for this class, you need to complete all eight tests before the end of the semester.  
					h4.card-title Test/Grade Correlation
					
					table.table.table-hover
						tr
							th 	Number of test passed
							th  Grade
						tr
							td 8
							td A
						tr
							td 7 + module 8 assignements
							td A-
						tr
							td 7
							td B+
						tr
							td 6
							td B
						tr
							td 5
							td C
						tr
							td 4
							td D
						tr
							td 0-3
							td F

					h4.card-title Prerequisite for Test-taking
					p.card-text Before you are allowed to take each test, you are required to complete the module assignments for the corresponding test. Though they are mandatory, you are expected to work of them in your own pace. There is no grade for quizzes and assignment - you are considered finished when I consider them passing. You are encourage to seek help from me at any point.
			.card
				h3.card-header#attendance Attendance Policy
				.card-block
					h4.card-title How your grade is calculated
					p.card-text Attendance will be recorded at the beginning of each class. Having more than three absences will have an impact on the highest possible grade you may get in this class. If you missed four classes, the highest grade you could get would be an A-. If you missed five, it would be a B, and so on.Attendance policy is strictly enforced. You will need to arrange in advance with me, and provide a sufficient justification for the need for more than three absences. Use these absences wisely. They are for academic, personal, and professional events that are beyond your control.
					
					h4.card-title How Absences Affect Your Grade
					table.table.table-hover
						tr
							th 	Number of absences
							th  Highest possible grade
						tr
							td 4
							td A-
						tr
							td 5
							td B+
						tr
							td 6
							td B
						tr
							td 7
							td C
						tr
							td 8+
							td D
					h4.card-title Tardiness
					p.card-text It is very important to arrive to class on time. Arriving late to class counts as one third of an absence (therefore 3 tardies = 1 absence); if you arrive more than 15 minutes late to class, you will be counted as absent.
					h4.card-title Leaving Class Early
					p.card-text Before the test period, you must inform me if you have to leave class early, or you will be counted as absent. When test period begins (the last 30 min or so of the class), you are free to leave if you do not plan on taking a test. You are more than welcome to stay and work if you wish to, but you have to stay quiet for the test-takers.
					h4.card-title Illness
					p.card-text Missing classes because of sickness or other extenuating circumstance will be counted as one of the three no-question-asked absences. In fact, it would be a perfect instance of the intended use of the allowed absences. However, if you keep me in the loop through the STINF, you are much more likely to have your extra absences excused should you need it later on.  
					p.card-text 
						a(href="http://trinity.duke.edu/undergraduate/academic-policies/illness") The STINF can be found here.
					h4.card-title Religious Observance
					p.card-text I follow the official policy of the school: "Students absent from class due to observance of a religious holiday are expected to submit a Religious Observance Notification Form to instructors of the courses affected no later than one week prior to the date of the holiday. Because religious holidays are scheduled in advance, [the instructor] has the right to insist that course work to be missed should be completed prior to an anticipated absence in accordance with [the instructor's] established course attendance policy."
					h4.card-title Athletic Participation
					p.card-text I follow the official policy of the school: "Varsity athletes are recognized as officially representing the University when they participate in intercollegiate competitions away from campus. The travel schedules of our teams are governed by University policies that apply across all varsity sports and all schools. To facilitate communication between [the instructor] and the student athletes in your courses, varsity athletes are expected to notify [the instructor] of their status at the beginning of the semester. They can do this by presenting [the instructor] with a letter of introduction signed by Lee Baker, Dean of Academic Affairs, and Brad Berndt, Associate Athletics Director. In addition, they are expected to submit a Notification of Varsity Athletic Participation Form to [the instructor] no later than one week prior to their participation in each varsity athletic competition out of town. Because out-of- town varsity athletic events are scheduled in advance, [the instructor] has the right to insist that missed course work be completed prior to an anticipated absence in accordance with your established course attendance policy."
			.card
				h3.card-header#format Class Format and Expectation
				.card-block
					h4.card-title The structure of each class
					p.card-text In general, a class meeting will begin with attendance taking and sometimes a brief lecture. You are encouraged to engage the assigned reading for each modules and to read my notes before coming to class, since class time is intended to providing individual and small-group tutoring as well as to quizzing at the beginning and testing during the final half hour or so of each class. You are free to bring laptops, tablets, etc. While taking tests, you may use none of these. During the test taking period for each class, quiet will be required. 
					h4.card-title Be conscientious
					p.card-text  Prior to the test taking period, conversation is permissible. You are however expected to mindful of other students and engage only in logic-related activities. I will ask you to leave the classroom if I find your behavior too disruptive. Before the test period, you must inform me if you have to leave class early, or you will be counted as absent. When test period begins (the last 30 min or so of the class), you are free to leave if you do not plan on taking a test. You are more than welcome to stay and work if you wish to, but you have to stay quiet for the test-takers.
					h4.card-title Office hours
					p.card-text  Office hours will be by appointments only, but I will make myself readily available. If you would like to meet with me, just speak to me in class or email me. Depending on my schedule, I might ask you to either meet me in my office on East or somewhere on West, such as the Perk. Unless you send an email late at night, you will normally receive an answer within a day. Re-send your e-mail if you do not.
					h4.card-title Special accommodation
					p.card-text Students requiring special accommodations should contact the Duke University Student Disability Access Office at (919) 668-1267 to explore possible coverage. For academic assistance available to all Duke undergraduate students, as well as additional services for students with learning disabilities and attention deficit disorder, please inquire with the Academic Resource Center at (919) 684-5917.
					h4.card-title Honor code
					p.card-text The Duke University Community Standard is in effect in this class, as it is in all classes at the university. Academic and personal integrity are serious matters, and will be treated as such in this course. Instructors and students alike are responsible for upholding both the spirit and the letter of the Standard. Students must understand its content and should clarify any questions they might have.