extends layout

block extrahead
  script(type="text/x-mathjax-config").
    MathJax.Hub.Config({
      tex2jax: {
      inlineMath: [ ['$','$'], ['\\(','\\)'] ]
      }}
      );
  script(type="text/javascript"  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML")





block content
  .container-fluid.p-t-3.m-t-3.m-x-3
    .row
      .col-lg-4.col-md-12
        .card
          .card-header Quantity Statement Interpretation
          .card-block
            h4.card-title Instruction
            p.card-text Provide truth values for the QL expressions given in the table. Click on the corresponding box on the table to select its value.
            p Spatial predicates do not always imply “directly”! For instance, an object from a different column can still be above another object as long as it occupies a higher row.
            p Complete 5 Tables to complete this quiz. You won't have to restart for each mistake.
            p.lead.text-xs-center Current Score:
              span#score
      .col-lg-4.col-md-12
        .card
          .card-header.lead.text-xs-center UD: Things in the grid below
        table.table.table-inverse.table-hover.table-bordered#grid.display-4.text-xs-center
          tbody
            each i in [0,1,2]
              tr
                each j in [0,1,2]
                  - id = i + "_" +j
                  td(id =id ) #{id}
      .col-lg-4.col-md-12
        .card
          .card-header Symbols:
          .card-block
            .col-md-6.col-sm-12
              ul
                li V: x is a vowel.
                li C: ....a consonant.
                li T: ....a letter.
                li N: ....a number.
                li E: ....even.
                li O: ..... odd.

            .col-md-6.col-sm-12
              ul
                li U: x is under y.
                li A: ....above....
                li L: ...left of...
                li R: ..right of...
                li X: x is in the same row as y
                li Y: .......same column......
      .col-lg-12.col-md-12#problems
        button(type ="button").btn.btn-secondary.btn-block#gridbutt Click here to submit your answers
        .table-responsive.m-t-1
          table.table.table-bordered
            thead.thead-inverse
              tr
                th.text-xs-center #
                th.text-xs-center T/F?
                th.text-xs-center QL Expression
            tbody
              each k in [1,2,3,4]
                tr(id = k)
                  th(scope = "row") #{k}
                  td.answer.lead.text-xs-center Click
                  td.ql QL#{k}






block extrafooter

  script(src='../javascripts/grid.js')
