extends pagelayout


block extrahead
	link(href="https://fonts.googleapis.com/css?family=Abril+Fatface|Titillium+Web:400" rel="stylesheet")

block content
		main.container.p-x-2.page
			.lessonSectionTitle
				h1.text-xs-center Course Logisitcs
			.row#logRow
				.col-sm-7#logisticsLeft
					for topic in syllabus
						.logSection
							h4(id = topic.title).logisticsLeftTitle #{topic.title}
							for par in topic.substance
								p.text-justify #{par}
				.col-sm-5
					.logisticsLeftTitle.text-xs-center Table of Content
					ul#logTOC
						for topic in syllabus
							li
								a(href="#"+topic.title) #{topic.title}
					.logisticsLeftTitle.text-xs-center Task/Grade Correlation
					#gradeTable
					.logisticsLeftTitle.text-xs-center Task Worth
					#taskTable






block extrafooter
	link(rel="stylesheet", type="text/css", href="../css/page.css")
	link(rel="stylesheet", type="text/css", href="../css/logistics.css")
	script(src="https://d3js.org/d3.v4.min.js")
	script(src="https://d3js.org/d3-scale-chromatic.v1.min.js")
	script(src="../javascripts/autohidenav.js")
	script(src="../javascripts/logisticsTables.js")
