
nav.navbar.navbar-dark.bg-inverse.navbar-fixed-top
	.container
		button.navbar-toggler.hidden-sm-up(type = "button" data-toggle ="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation")  	&#8872;
		.collapse.navbar-toggleable-xs#exCollapsingNavbar2
			ul.nav.navbar-nav
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') About
						.dropdown-menu
							a.dropdown-item(href="/") The Course
							a.dropdown-item(href="/about_text") The Text
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Modules
						.dropdown-menu
							a.dropdown-item(href="/1") 1
							a.dropdown-item(href="/2") 2
							a.dropdown-item(href="/3") 3
							a.dropdown-item(href="/4") 4
							a.dropdown-item(href="/5") 5
							a.dropdown-item(href="/6") 6
							a.dropdown-item(href="/7") 7
							a.dropdown-item(href="/8") 8
				li.nav-item
					a.nav-link(href='/grading') Course Logistics
				li.nav-item
					a.nav-link(href='/profile') Profile
				if currentUser
					li.nav-item.pull-md-right
						a.btn.btn-primary.btn-block(href='/logout') Logout
					li.nav-item.pull-md-right#userStatus.hidden-md-down
							- var n = 0
							while n <48
								button.bar(id = "bar_" + n type="button" data-toggle="tooltip" data-placement="bottom" title="Incomplete" data-html= "true") &nbsp;
								- n = n + 1
							.gradeScale
								button.grade_bar(id = "grade_f" type="button" data-toggle="tooltip" data-placement="bottom" title="<p class = 'lead text-xs-center'>Grade: F</p><p lead> Test 3 or less</p>" data-html= "true") &nbsp;
								button.grade_bar(id = "grade_d" type="button" data-toggle="tooltip" data-placement="bottom" title="<p class =  'lead text-xs-center'>Grade: D</p><p lead> Requirement: Module 4 Completion</p>" data-html= "true") &nbsp;
								button.grade_bar(id = "grade_c" type="button" data-toggle="tooltip" data-placement="bottom" title="<p class =  'lead text-xs-center'>Grade: C</p><p lead> Requirement: Module 5 Completion</p>" data-html= "true") &nbsp;
								button.grade_bar(id = "grade_b" type="button" data-toggle="tooltip" data-placement="bottom" title="<p class =  'lead text-xs-center'>Grade: B</p><p lead> Requirement: Module 6 Completion</p>" data-html= "true") &nbsp;
								button.grade_bar(id = "grade_bp" type="button" data-toggle="tooltip" data-placement="bottom" title="<p class =  'lead text-xs-center'>Grade: B+</p><p lead> Requirement: Module 7 Completion</p>" data-html= "true") &nbsp;
								button.grade_bar(id = "grade_am" type="button" data-toggle="tooltip" data-placement="bottom" title="<p class = 'lead text-xs-center'>Grade: A-</p><p lead> Requirement: Module 8 Exercises</p>" data-html= "true") &nbsp;
								button.grade_bar(id = "grade_a" type="button" data-toggle="tooltip" data-placement="bottom" title="<p class = 'lead text-xs-center'>Grade: A</p><p lead> Requirement: Passing Test 8</p>" data-html= "true") &nbsp;
				else
					li.nav-item.pull-md-right
						a.btn.btn-warning.btn-block(href='/login').blink Click to Login
extrafooter
	link(rel="stylesheet", type="text/css", href="../css/status.css")
