-
	if (!currentUser) userTag = "notLogged"
	else userTag = currentUser
	console.log(currentUser)
nav.navbar.navbar-fixed-top#mainnavbar(data = userTag)
	.container
		button.navbar-toggler.hidden-lg-up(type = "button" data-toggle ="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation" style='color:white')  	&#8872;
		.collapse.navbar-toggleable-md#exCollapsingNavbar2
			ul.nav.navbar-nav
				li.nav-item.dropdown
					a.nav-link(href='/', role='button').m-x-2 About
				li.nav-item
					a.nav-link(href='/logistics').m-x-2 Course Logistics
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false').m-x-2 Sentence Logic
						.dropdown-menu#slmenu
							a.dropdown-item.chapterLink(href="/m/sl/1") 1. What is Logic?
							a.dropdown-item(href="/logicise/vennSyl") Logicise: Venn Diagrams
							a.dropdown-item(href="/pdf/sl-pset-1.pdf") Problem-set: Venn Diagrams and Syllogism
							a.dropdown-item.chapterLink(href="/m/sl/2") 2. Intro to SL
							a.dropdown-item(href="/logicise/truthTable1") Logicise: Truth Table 1
							a.dropdown-item.chapterLink(href="/m/sl/3") 3. Core Concepts in Logic
							a.dropdown-item(href="/logicise/truthTable2") Logicise: Truth Table 2
							a.dropdown-item(href="/pdf/sl-pset-2.pdf") Problem-set: Arguments and Validity
							a.dropdown-item(href="/pdf/sl-pset-3.pdf") Problem-set: Substitution of Logical Equivalents
							a.dropdown-item.chapterLink(href="/m/sl/4") 4. Conditionals
							a.dropdown-item(href="/logicise/wason1") Logicise: Wason Selection Task 1
							a.dropdown-item(href="/pdf/sl-pset-4.pdf") Problem-set: Symbolization
							a.dropdown-item(href="/logicise/truthTable3") Logicise:  Truth Table 3
							a.dropdown-item.chapterLink(href="/m/sl/5") 5. Test 1 Info
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false').m-x-2 Predicate Logic
						.dropdown-menu#plmenu
							a.dropdown-item.chapterLink(href="/m/pl/1") 1. Why Predicates?
							a.dropdown-item(href="/logicise/alienTree1") Logicise:  Alien Family Tree 1
							a.dropdown-item.chapterLink(href="/m/pl/2") 2. Model Semantics for PL
							a.dropdown-item(href="/pdf/pl-pset-1.pdf") Problem-set 1: Model Semantics
							a.dropdown-item(href="/logicise/model1") Logicise:  Model 1
							a.dropdown-item(href="/pdf/SLTreeRules.pdf") SL Tableaux Rules
							a.dropdown-item(href="/pdf/pl-pset-2.pdf") Problem-set 2: Sheffer Stroke and Tableaux
							a.dropdown-item.chapterLink(href="/m/pl/3") 3. PL Symbolization
							a.dropdown-item.chapterLink(href="/trees") 4. Truth Tree Demo
							a.dropdown-item(href="/pdf/pl-pset-3.pdf") Problem-set 3: Symbolization and PL Tableaux
							a.dropdown-item(href="/logicise/alienTree2") Logicise:   Alien Family Tree 2
							a.dropdown-item(href="/logicise/model2") Logicise:  Model 2
							a.dropdown-item(href="/pdf/PLTreeRules.pdf") PL Tree Rules
							a.dropdown-item(href="/pdf/AllTreeRules.pdf") All Rules on one page
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false').m-x-2 Deduction
						.dropdown-menu#ndmenu
							a.dropdown-item.chapterLink(href="/m/nd/1") SL: Overview
							a.dropdown-item.chapterLink(href="/m/nd/2") SL: Theorems
							a.dropdown-item.chapterLink(href="/deduction") Demo: Fundamentals
							a.dropdown-item.chapterLink(href="/deduction/hypothetical") Demo:  Conditional Proof
							a.dropdown-item(href="/pdf/nd-pset-1.pdf") Problem-set 1: SL Basic Deduction
							a.dropdown-item(href="/pdf/nd-pset-2.pdf") Problem-set 2: SL Theorems
							a.dropdown-item(href="/pdf/nd-pset-3.pdf") Problem-set 3: PL Deduction
							a.dropdown-item(href="/pdf/inferencerules.pdf") Handout: Rules of Inference
							a.dropdown-item(href="/pdf/inclass.pdf") Handout: Them's the Proofs





				if currentUser
					li.nav-item
						a.nav-link(href='/profile') #{nickname}
					li.nav-item
						a.nav-link#exp(href='#')
					li.nav-item.pull-md-right
						a.nav-link(href='/logout') Logout
				else
					li.nav-item.pull-md-right
						a.nav-link(href='/login') Login
