nav.navbar.navbar-dark.bg-inverse.navbar-fixed-top
	.container
		button.navbar-toggler.hidden-sm-up(type = "button" data-toggle ="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation")  	&#8872;
		.collapse.navbar-toggleable-xs#exCollapsingNavbar2
			ul.nav.navbar-nav
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') About
						.dropdown-menu
							a.dropdown-item(href="/") The Course
							a.dropdown-item(href="/about_text") The Text
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Modules
						.dropdown-menu
							a.dropdown-item(href="/1") 1
							a.dropdown-item(href="/2") 2
							a.dropdown-item(href="/3") 3
							a.dropdown-item(href="/4") 4
							a.dropdown-item(href="/5") 5
							a.dropdown-item(href="/6") 6
							a.dropdown-item(href="/7") 7
							a.dropdown-item(href="/8") 8
				li.nav-item
					a.nav-link(href='/grading') Course Logistics
				li.nav-item
					a.nav-link(href='/profile') Profile
				li.nav-item.pull-md-right
					if currentUser
						div
							a.btn.btn-outline-secondary(href='/logout') Log out
					else
						a.btn.btn-primary.btn-block(href='/login') Login
