-
	if (!currentUser) userTag = "notLogged" 
	else userTag = currentUser
nav.navbar.navbar-fixed-top#mainnavbar(data = userTag)
	.container
		button.navbar-toggler.hidden-sm-up(type = "button" data-toggle ="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation")  	&#8872;
		.collapse.navbar-toggleable-xs#exCollapsingNavbar2
			ul.nav.navbar-nav
				li.nav-item.dropdown
					a.nav-link(href='/', role='button').m-x-2 About
				li.nav-item
					a.nav-link(href='/logistics').m-x-2 Course Logistics
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false').m-x-2 1. Sentence Logic
						.dropdown-menu
							a.dropdown-item(href="/m/sl/1") 1.1 What is Logic?
							a.dropdown-item(href="/logicize/vennSyl") Logicize: Venn Diagrams
				if currentUser
					li.nav-item
						a.nav-link(href='/profile') #{nickname}
					li.nav-item.pull-md-right
						a.nav-link(href='/logout') Logout
				else
					li.nav-item.pull-md-right
						a.nav-link(href='/login') Login
