extends pagelayout

block content
	main#profileTree.m-a-0


block extrafooter
	script(src="https://d3js.org/d3.v4.min.js")
	script(src="https://d3js.org/d3-scale-chromatic.v1.min.js")
	script(src="../javascripts/mods/notify.js")
	script(src="../javascripts/autohidenav.js")
	script(src="../javascripts/classTree.js")
	link(rel="stylesheet", type="text/css", href="/css/profile.css")
