extends layout

block content
  #sticky
  #con(style="height: 100vh; overflow: scroll")
    #content




block extrafooter
  script(src='../javascripts/syl.js')
  link(rel="stylesheet", type="text/css", href="../css/syl.css")
