.rightPanel.col-lg-3.col-md-4
  .m-y-1.m-x-a.text-justify#sylProblem
#vennLog.midpanel.col-lg-6.col-md-4
#userInput.leftPanel.col-lg-3.col-md-4
  button(type = "button").btn.btn-secondary.m-y-1.m-r-2.btn-block#valid Argument Valid?
  button(type = "button").btn.btn-outline-red.m-y-1.m-r-2#exBut Object 1
  button(type = "button").btn.btn-outline-blue.m-y-1.m-r-2#exBut2 Object 2
  button(type = "button").invisible.btn.btn-teal.m-y-1.text-xs-center#delObj Delete Current Object
  button(type = "button").btn.btn-greyish.m-y-1.btn-block#answer.answerButt Submit Answer
