extends layout

block content
	script(type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
	.container-fluid.p-t-3.m-t-3
		.row
			.col-lg-8
				.container.text-xs-center#wasoncontainer
					h1.display-4#wasonhead Wason Selection Task
					.row
						.col-md-6.m-y-3.lead#score
						.col-md-6.m-y-3.lead
							button.btn.btn-primary.btn-sm.m-x-1#minus(type='button') -
							button.btn.btn-primary.btn-sm(type='button')#numOfCards # of Cards: 6
							button.btn.btn-primary.btn-sm.m-x-1#plus(type='button') +
						.col-md-12.h3#rule
					.row.m-y-1
						.col-md-12#cards
						.col-md-12#buttarea
							button.btn.btn-primary.btn-block.m-t-3(type='button')#wasonbutton Button
			.col-lg-4
				h1.display-4.text-xs-center.m-b-3 Leaderboard
				.container.text-xs-center.m-t-3#leaderboard




block extrafooter

	script(src='../javascripts/wason'+wa_n+'.js')
	link(rel="stylesheet", type="text/css", href="../css/wason.css")
