extends layout

block content
	.container.text-xs-center.p-t-3.m-t-3.fluid
		.row
			.col-md-12#rule
		.row
			.col-md-12.fluid#cards
		button.btn.btn-primary(type='button')#wasonbutton 



block extrafooter
	script(src='../javascripts/wason.js')