
.jumbotron{
	background:#333E48;
	color:white;
}

p.lead{
	text-align: justify;

}

#percentbar{
	background-color: #333E48;
	'background-image': 'none',
}


.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
.btn-primary{
	background-color: #333E48;
	border-color: #333E48;
}

.moduleintro{ border-width: 0px;}

.moduleintro a:hover{
	text-decoration: none;

}

.moduleintro .display-1{
	color:white;
	background-color: #333;
	border-color: #333;
}

.moduleintro .display-1:hover{
	background-color: black;
	transition: 0.5s;
}

.blockimg{
	margin-top:15%;
	height: auto;
	max-width: 55%;
	min-width: 50%;


}

.introBlock{
	margin-top: 5%;
	margin-bottom: :5%;

}

.profilehead{

}
.profilehead:hover{
	background-color: #0275d8;
	color:white;
	text-decoration: none;
}

.profilehead a{
	text-decoration: none;
}

.wason.focus, .wason:focus {
	background-color: white;
	color:#0275d8;


}

#cards .btn-group>.btn{
	float: none;
}

#wasoncontainer{
	max-width: 544px;
}

#rule {
	/*text-transform: capitalize*/
}
.wason {
	text-transform: capitalize;
	width:150px;

}
