.jumbotron{
	background:#333E48;
	color:white;
}

p.lead{
	text-align: justify;
    
}

#percentbar{
	background-color: #333E48;
	'background-image': 'none',
}

.btn-primary{
	background-color: #333E48;
	border-color: #333E48;
}

.moduleintro{ border-width: 0px;}

.moduleintro a:hover{
	text-decoration: none;

}

.moduleintro .display-1{
	color:white;
	background-color: #333;
	border-color: #333;
}

.moduleintro .display-1:hover{
	background-color: black;
	transition: 0.5s;
}

