#jimbo{
	/*background:  linear-gradient(0deg, #333E48, transparent ), linear-gradient(180deg, #333E48, transparent), radial-gradient(circle, transparent 10%, #787C7F 40%, #333E48 80%), rgba(17,67,85, .5) url('../img/peirce.png');
	background-size: contain;
	
	background-repeat: no-repeat;
	background-position: center;*/
	color:white;


}


.jumbotron{
	background:#333E48;
	color:white;
}

p.lead{
	text-align: justify;
    
}

