/*#l, #r{
   display: inline-block;
   width: 45%;
   height:100%;
}*/

td{
  min-width: 200px;
}
.def{
  text-transform: capitalize;
}

#ans{
    /*margin: 90% 5px;*/
}
#l{
  padding: 5px;
}

#r{
  padding: 30% 5px;
  z-index: -1;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  /*margin: 10px;*/
  padding: 20px;

  /*min-height: 100px;*/
  transition: background-color 0.3s;
  /*float:left;*/
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #2a546f;
  /*border-color: #000;*/
  /*border-style: solid;*/
  color:white;
}

.drag-drop {
  display: inline-block;
  /*min-width: 40px;*/
  /*width:100%;*/
  padding: 2em 0.5em;
  width: auto;
  color: #fff;
  background-color: #2a546f;
  border: solid 2px #fff;
  border-radius: 10px;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: grey;
}


progress{

  background: black;
 width: 100%;
 height: 100px;
}
#icon {
  background-color: black;
}
.listHead li {
  border-width: 0;
}


@media (min-width:993px) {
  main{
    margin-left: 25%;
    margin-top: 40px;

  }

  #sidebar {
    position: fixed;
    height: 100%;
    width: 20%






  }

}

.jumbotron{
  border-radius: 30px;
}

#sidebar {

    padding-top: 60px;
    background-color: #373a3c;



}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #373a3c;
    color: black;
    border:0;
    border-color: #373a3c;
    /*white-space: nowrap;*/
    color:white;
    text-decoration: none;
}

/* highlight active menu */
#sidebar .list-group-item:hover{
  background-color: #373a3c;
  color:white;
}
#sidebar .list-group-item:not(.collapsed):hover {
    background-color: #373a3c;
    color:white;
}
#sidebar .list-group-item:not(.collapsed) {
    background-color: #373a3c;
    color:white;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: "⇓";
  /*font-family: FontAwesome;*/
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  /*background-color: white;*/

}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  /*content: " \f0da";*/
  /*font-family: FontAwesome;*/
  content: "⇑";
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}
/*
@media (max-width:48em) {

    #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
        min-width: 39px;
    }

    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}*/

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: width;
       -o-transition-property: width;
          transition-property: width;

}
