div.tooltip {
    position: absolute;
    text-align: center;
    width:200px;
    padding:  10px;
    font-size: .8em;

    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


div.tooltip.title {

    font: 20px;
  }

  div.tooltip p {


      margin: 3px 3px;
    }



.logiciseIntro{
  max-width: 70%;
  font-size: 0.9em;
  color: grey;
}

.correctTableCell{
 background: rgb(102, 119, 196)
}

.incorrectTableCell{
  background: rgb(191, 113, 138);}

  .treechoices {
      height: 0px;
      width: 100%;
      position: fixed;
      z-index: 1001;
      top: 0;
      right: 0;
      background-color: #aaa;
      overflow-x: hidden;
      transition: 0.5s;
      margin:0;
      padding: 36px 0 0 0;
      opacity: 0.9;
      -webkit-box-shadow: -11px 2px 14px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: -11px 2px 14px -5px rgba(0,0,0,0.75);
      box-shadow: -11px 2px 14px -5px rgba(0,0,0,0.75);
      color:white;

  }


.floatInfo{
  transition: 0.4s;
  position: fixed;
  top:100px;
  left:-10000;
  max-height:70%;
  max-width:30%;
  background: rgba(55,55,55,0.9);
  padding:20px 20px;
  color:white;
  z-index: 1001;
  overflow-x: hidden;
  -webkit-box-shadow: -11px 2px 14px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -11px 2px 14px -5px rgba(0,0,0,0.75);
  box-shadow: -11px 2px 14px -5px rgba(0,0,0,0.75);
  font-size: 0.7em;
}

.floatInfo p{
  margin: 5px 5px;
}
#control{
    position: fixed;
    bottom:50px;
    left:50px;
    z-index: 1000;

}

#tablespace{
  display:flex;
}

#tablespace tr:nth-child(even){background-color: #f2f2f2;}


#tablespace th {
    padding: 20px 40px;
    text-align: center;
    background-color: #444C5C;
    color: white;
    /*min-width:400px;*/

}
#tablespace td{
  padding:20px 15px;
  font-size: 1.5em;
  text-align: center;

}
#tablespace table{
  margin:auto;
  /*border: grey solid 2px;*/
  /*box-shadow: 10px 10px 5px #888888;*/


}
td:hover {
  background-color:  #78a5a3;
}




#modelTxt{

}
#modelTxt p {
  margin-bottom: 1px;
  font-style: italic;
  font-size: 1.2em;
}



.treeChoiceButt{
  margin-top: 30px;
}
/*
.treechoices a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.treechoices a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.treechoices .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
*/

.node circle {
  fill: #fff;
  /*stroke: steelblue;*/
  /*stroke-width: 3px;*/
}


/*.node text { font:3em}*/

.node text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}





.link {
  fill: none;
  stroke: #000;
  stroke-width: 5px;
  opacity: 0.5;
}




.latexNode{
  position: absolute;
  background-color: 'black';
  width: 500;
  height: auto;
  font-size: 1em;
  text-align: left;
  pointer-events:none;

}








.logiciseFS{

  background: white;
  max-width: 1500px;
  margin-bottom: 150px;


}

#save {
  display: inline;
  color:black;
}

.logiciseMain{

  background: white;
  max-width: 100%;
    margin-bottom: 150px;


}

/*.top3{

  background: white;
  max-width: 1500px;
    margin-bottom: 150px;


}*/
.logiciseHeader{
  margin-top:150px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;


}

.logiciseTitle{

  font-size: 2em;


}

#control button{
  margin-left: 20px;
}
#bigContainer{
  border-bottom: 2px solid grey;
}
#leaderboard h4{
  margin-top: 20px;
}
#display table{
  font-size: 1.3em;

}

#leaderboard{
  border-left: 2px solid grey;
  margin-top: 0
}

#interaction,#display{
  padding:0;
}

/*.miniNavComponent {
  border-left: 1px grey solid;
  padding-left: 5px;

}

.miniNavComponent span {
  margin-left: 5px;

}*/


/*deduction stuff*/

.fitch{
  padding: 50px;
}

.fitch h4{
  margin-bottom: 50px;
  margin-right: 50px;
}

.btn-mc{
  background: white;
  border:1px solid black;
}

.btn-mc:hover{
  background: grey;

}

.fitch .active{
  background: black;
  color:white;

}
/*
.fitch .active{
  background-color: black;
  color:white;
}

.fitch .focus{
  background-color: inherit;
  color:inherit;
}*/

/*.fitch .btn-secondary:hover{
  background-color: black;
  color:white;
}*/

.ass {

  border-bottom: 1px solid black;
  height:3em;
  padding:8px;
}

.line {
    height:3em;
    padding:8px;

}

.scope {
  border-left: 1px solid black;

  margin-left: 15px;
}

.just{
  float: right;
  border-width: 0;
  margin:0;
  height:10px
}
