.logiciseFS{

  background: white;
  max-width: 1500px;
    margin-bottom: 150px;


}

#save {
  display: inline;
  color:black;
}

.logiciseMain{

  background: white;
  max-width: 100%;
    margin-bottom: 150px;


}

/*.top3{

  background: white;
  max-width: 1500px;
    margin-bottom: 150px;


}*/
.logiciseHeader{
  margin-top:150px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;


}

.logiciseTitle{

  font-size: 2em;


}

#control button{
  margin-left: 20px;
}
#bigContainer{
  border-bottom: 2px solid grey;
}
#leaderboard h4{
  margin-top: 20px;
}
#display table{
  font-size: 1.3em;
}

#leaderboard{
  border-left: 2px solid grey;
  margin-top: 0
}

#interaction{
  padding:0;
}

/*.miniNavComponent {
  border-left: 1px grey solid;
  padding-left: 5px;

}

.miniNavComponent span {
  margin-left: 5px;

}*/
