.pdfobject-container { 
height: 100%;
}


#flexstuff {
  height: 90vh;
  display: flex;
}

.row {
  flex: 1;
  display: flex;
}
 
#left, #right {
  overflow-y: scroll;
  
}
 
#left {
  flex: 1;

}
 
#right {
  flex: 1;
}

.choice{
	
	transition-duration: 0.5s;

  margin-right: 20px;

}

.display-4{
  font-size: 120%;
}

.btn-primary{
	background-color: #333E48;
	border-color: #333E48;
}

.definition{
  white-space: normal;
  text-align: left;
  color: black;
  padding: 1rem;
  font-size: 100%;
  border-radius: 20px;
}
.nav-tabs {
  background-color: #333E48;

  display: block;

}
a.nav-link{
   color: white;


}

#readingheader, #quizheader,#conceptsheader{
  border-top-width: 0;
}


  @media (max-width: 1200px){
    ul.nav.nav-tabs li.nav-item { font-size: 90%;}
/*    #closepdf{visibility: hidden;}*/

  }
/*  
#closepdf{
 position: fixed;
}

*/
