
body {
  font-family:'Titillium Web', sans-serif;
}




.important{
  border: 1px black solid;
  border-radius: 10px;
  max-width: 60%;
  margin: auto;
}

.important p {
  margin-bottom: 0;
}

.tableContainer table{
  margin: auto;
  font-size: 1.5em;
  text-align: center;

}

.tableContainer {
  margin: 2em 0;


}

.tableContainer td{
  padding:10px;
  border-right: 1px black solid;
}


.tableContainer th{
  padding:10px;
  border-bottom:  1px black solid;
  /*border-right: 1px black solid;*/
}
.tableContainer th:last-of-type,.tableContainer td:last-of-type{

  border-right: none;
}



.slide{

  height: 100vh;
  display:flex;
  font-family:'Titillium Web', sans-serif;
  font-size: 1em;

}

.slidebox{
  margin:auto;
  max-width:500px;
}

.slideTitle{
  font-family:'Raleway', sans-serif;
  font-size:1.8em;
  /*border-bottom: 1px solid black;
  margin-bottom: 15px;
  margin-top: 10px;*/

}

.vennCircle .label{
  fill:black;
}

#messageModal .modal-body{
  display:block;
  margin:auto;
}

/*Main Nav*/
#mainnavbar a{
  color:#444C5C;
  font-family: 'Titillium Web', sans-serif;
}

#mainnavbar a:hover{
  color:black;
  border-bottom: 1px solid

}

/*Login */
#loginPage{
  background:#ddd;
  color:black;
  height: 100vh;
  display:flex;
  font-family:'Raleway', sans-serif;
  font-size: 1em;

}

#loginBox{
  margin:auto;
}



/*Quiz Stuff*/

.binaryChoice-clicked{


  height: 0px;
  padding: 0;
  background: rgba(71, 142, 222,0.6);

  font-size: 1em;
  border-radius: 10px;
  margin: 10px 0px;
  border: 0px;
  /*max-width: 40%;*/
  width:100%;


}
.binaryChoice-clicked:hover{

  background: rgba(71, 142, 222,0.9);
  font-size: 1em;
  border-radius: 10px;
  margin: 10px 0px;
  border: 0px;
  /*max-width: 40%;*/
  width:100%;

}


.binaryChoice-clicked2{

  background: rgba(118, 54, 38,0.6);

  font-size: 1em;
  border-radius: 10px;
  margin: 10px 0px;
  border: 0px;
  /*max-width: 40%;*/
  width:100%;

}
.binaryChoice-clicked2:hover{


  background: rgba(118, 54, 38,0.9);
  font-size: 1em;
  border-radius: 10px;
  margin: 10px 0px;
  border: 0px;
  /*max-width: 40%;*/
  width:100%;

}

.binaryChoice-orignal{


  background: rgba(222, 222, 222,0.6);
  font-size: 1em;
  border-radius: 10px;
  margin: 10px 0px;
  border: 0px;
  /*max-width: 40%;*/
  width:100%;

}
.binaryChoice-orignal:hover{

  background: rgba(159, 179, 182,0.9);

}

.quizIntro{
  opacity: 0.8;
  background: black;
  color:white;
  font-size: 0.8em;
  padding:1em;
  margin-bottom: 10px;
}
.offScreen{
  position: absolute;
  left:-10000px;
}

#dragQ{
  margin-top: 30px;
  margin-bottom: 30px;
  /*text-transform: capitalize;*/
}
.draggable{
  margin-top: 10px;
  background: rgba(159, 179, 182,0.6);


}

.sideQuiz{
  float: right;
  width: 50%;
}

.dragMatch .dropzone{
  background: #464740;
  color:white;

}

.dragMatch  .drop-target{
  background: rgba(159, 179, 182,0.6);
  color:black;

}
.mc{
  border-width: 0;
  width:100%;
  display:block;
  padding: .5em 1em;
  color: black;
  background: #9FB3B6;
  margin-bottom: 1em;
}
.readingExResults{
  /*border: 1px solid grey;*/
  /*border-radius: 20px;*/
  padding: 1.5em;
  /*color:black;*/
  text-align: justify;
  margin: 10px 0;
  font-size: 0.8em;
}

.readingExResults p {
  margin: 2px 0px;
  /*color:black*/
}

.readingEx{
  background: white;
  /*max-width: 50%;*/
  border:1px solid grey;
  border-radius: 20px;
  padding: 20px 0;

}

.resultCorrect {
  background-color: #336B87;
  color:white;
  padding: 5px 0px;
  border: 1px solid grey;
  border-radius: 5px;

}

.resultIncorrect {
  background-color: #763626;
  color:white;
  padding: 5px 0px;
  border: 1px solid grey;
  border-radius: 5px;

}


.readingExQ{
  /*background: #eee;*/

  margin-top: 40px;
  /*padding: 20px 20px;*/
  font-size: 1em
  /*height:250px;*/

}

.readingExQNum{
  /*background: #90afc5;*/
  /*height:250px;*/

}

.greyish {
  background-color: #9FB3B6;
  color:black;
  /*border-color:#9FB3B6*/
}

.readingExNum{
  background: #90afc5;
  height:50px;
  margin-bottom: 50px

}
.subNav{
margin-top:20px;
  border-top: 2px solid grey;
border-bottom:  2px solid grey;

}

.navBuffer{
  margin-top: 150px;
}

.btn-red ,.btn-outline-red:hover{
  background-color: #EC5A57;
  color:white;
  border-color:#EC5A57
}

.red{
  background-color: #EC5A57;
  color:white;
  border-color:#EC5A57
}
.btn-outline-red {
  background-color: white;
  color:#EC5A57;
  border-color:#EC5A57
}

.btn-blue:hover{
  background-color: #79BEDB;
  color:#666;
  border-color:#79BEDB
}


.btn-blue ,.btn-outline-blue:hover{
  background-color: #478EB0;
  color:white;
  border-color:#478EB0
}

.btn-outline-blue {
  background-color: white;
  color:#478EB0;
  border-color:#478EB0
}

.btn-greyish,.btn-outline-greyish:hover {
  background-color: #9FB3B6;
  color:white;
  border-color:#9FB3B6
}

.btn-greyish:hover {
  background-color: white;
  color:black;
  border-color:#9FB3B6
}

.btn-outline-greyish{
  background-color: white;
  color:#9FB3B6;
  border-color:#9FB3B6
}

.btn-purple {
  background-color: #7E82AD;
  color:white;
  border-color:#7E82AD
}

.btn-outline-purple, .btn-purple:hover{
  background-color: white;
  color:#7E82AD;
  border-color:#7E82AD
}

.btn-teal, .btn-outline-teal:hover {
  background-color: #028482;
  color:white;
  border-color:#028482
}

.btn-outline-teal{
  background-color: white;
  color:#028482;
  border-color:#028482
}
#moods  path{
  fill: white;
}
#un  g[data-venn-sets = "S_P"] path{
  fill: grey;
}

#ua  g[data-venn-sets = "S"] path{
  fill: grey;
}


.argument {
  max-width: 400px;
}

.flexContainer {
    display:flex;
    width:100%
}
.arg{
  margin-left: 20%;
  max-width: 50%
}

.arg hr
{
  border: none;
  height: 1px;
  /* Set the hr color */
  background-color: #333; /* Modern Browsers */
}

.symbolkey{
    margin-left: 20%;
  max-width: 50%
}


.scrollText {
  border-width: medium;
  border-style: groove;;
  border-radius: 20px;
  font-size: 1.2em;
  background-color: #ddd;
}
.blockquote {
  font-size: 0.8em;
}
.argument hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    background-color: #333; /* Modern Browsers */
}
.lessonSectionTitle hr {
    border: none;
    height: 4px;
    /* Set the hr color */
    background-color: #333; /* Modern Browsers */
}

  .longLine{
    border: none;
    height: 4px;
    /* Set the hr color */
    background-color: #333; /* Modern Browsers */
}

text{
  pointer-events:none;
}

.generalTitle{
  font-family: 'Raleway', sans-serif;
}

.lessonSectionTitle{
  margin-top: 150px;
  margin-bottom: 100px;
  font-family: 'Abril Fatface', cursive;
}

.lessonSubTitle {
  /*background-color: grey;*/
margin-top: 100px;
margin-bottom: 100px;
width: 100%;
font-family: 'Abril Fatface', cursive;
}


.lessonSubTitle hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    background-color: #333; /* Modern Browsers */
}

.page{
  background: white;
  max-width: 1350;

}

p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2em;
  margin-bottom: 40px;
}

/*body{
  background-color: #eee;
}*/
