

.btn-blue ,.btn-outline-blue:hover{
  background-color: #478EB0;
  color:white;
  border-color:#478EB0
}

.btn-outline-blue {
  background-color: white;
  color:#478EB0;
  border-color:#478EB0
}

.btn-greyish,.btn-outline-greyish:hover {
  background-color: #9FB3B6;
  color:white;
  border-color:#9FB3B6
}

.btn-outline-greyish{
  background-color: white;
  color:#9FB3B6;
  border-color:#9FB3B6
}

.btn-purple {
  background-color: #7E82AD;
  color:white;
  border-color:#7E82AD
}

.btn-outline-purple, .btn-purple:hover{
  background-color: white;
  color:#7E82AD;
  border-color:#7E82AD
}

.btn-teal, .btn-outline-teal:hover {
  background-color: #028482;
  color:white;
  border-color:#028482
}

.btn-outline-teal{
  background-color: white;
  color:#028482;
  border-color:#028482
}
#moods  path{
  fill: white;
}
#un  g[data-venn-sets = "S_P"] path{
  fill: grey;
}

#ua  g[data-venn-sets = "S"] path{
  fill: grey;
}


.argument {
  max-width: 400px;
}



.scrollText {
  border-width: medium;
  border-style: groove;;
  border-radius: 20px;
  font-size: 1.2em;
  background-color: #ddd;
}
.blockquote {
  font-size: 0.8em;
}
.argument hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    background-color: #333; /* Modern Browsers */
}
.lessonSectionTitle hr {
    border: none;
    height: 4px;
    /* Set the hr color */
    background-color: #333; /* Modern Browsers */
}

  .longLine{
    border: none;
    height: 4px;
    /* Set the hr color */
    background-color: #333; /* Modern Browsers */
}

.lessonSectionTitle{
  margin-top: 150px;
  margin-bottom: 100px;
  font-family: 'Abril Fatface', cursive;
}

.lessonSubTitle {
  /*background-color: grey;*/
margin-top: 100px;
margin-bottom: 100px;
width: 100%;
font-family: 'Abril Fatface', cursive;
}


.lessonSubTitle hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    background-color: #333; /* Modern Browsers */
}

.page{
  background: white;
  max-width: 1350;

}

p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2em;
  margin-bottom: 40px;
}

/*body{
  background-color: #eee;
}*/
