


.ass {

  border-bottom: 1px solid black;
  height:70px;
  padding:8px;
}

.line {
    height:70px;
      padding:8px;
}

.scope {
  border-left: 1px solid black;

  margin-left: 15px;
}

.just{
  float: right;
  border-width: 0;
  margin:0;
  height:10px
}
