.bar {
	background-color: #CCCCCC;
	display: inline;
	height: 40px;
	width: 6px;
	cursor: pointer;
	position: relative;
	border: 0;
	opacity: 0.9;
	padding: 0
}

#userStatus{
	height: 100%
}

.progressBar_passed{
	background-color: #003366;
}

.progressBar_title{
	position: absolute;

}

.bar:hover{
	opacity: 0.3;
}

#status_percent{

	border-width: 0px;
	display:inline;
	background-color: inherit;

}
